<div class="row">
  <div class="banner mx-auto mt-5">
    <div class="card">
      <%= image_tag  "logo.png", class: "logo card-img-top shadow" %>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-8">
    <div class="card chat-left-panel shadow">
      <div class="card-header chat-header">
        Chatting Box
      </div>
      <div class="card-body chat-body">
        <% @messages.each do |msg| %>
          <div class="msg-content">
            <span class="chat-by font-italic"><%= msg.user.username %> : </span><%= msg.body %>
          </div>
        <% end %>
      </div>
      <div class="card-footer chat-footer px-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type your message here ...">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><%= icon('fas', 'edit') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card chat-right-panel shadow p-3">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Users</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">User One</li>
          <li class="list-group-item">User Two</li>
          <li class="list-group-item">User Three</li>
        </ul>
      </div>
    </div>
  </div>
</div>
