@import 'bootstrap/dist/css/bootstrap';

.banner {
  .logo {
    height: 80px;
    width: 100px;
  }
}

.chat-left-panel, .chat-right-panel {
  height: 30rem;
}
.chat-left-panel button {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 0 0.25rem 0.25rem 0;
}
